extend layout
block content
  h2 About Me
  h4.subheader
    | My name is Murph Murphy. I'm a software
    | developer and computer science student, and
    | I really enjoy what I do.
  p
    | I'm graduating in the fall from
    a(href="http://montana.edu")  Montana State University
    | . In the meantime I'm working at
    a(href="https://www.productfunder.com")  Product Funder
    |  on their startup web application for crowdfunding
    | consumer products, doing front to back web development.
  p
    | While working at Product Funder I've learned a lot
    | about startups, the software development cycle,
    | and web technologies. I love working with these
    | technologies, and many of my personal
    a(href="/projects")  projects
    |  involve applying them both in and out of the browser.

block sidebar
  h2 Notes
  blockquote
     | Build tools for others that you want to be built for you.
     br
     small - Kenneth Reitz