extend layout
block content
  h2 About Me
  h4.subheader
    | My name is Murph Murphy. I'm a software
    | engineer, and
    | I love what I do.
  p
    | I graduated from
    a(href="http://montana.edu")  Montana State University
    | in 2013. I'm currently a software engineer working on
    | search and machine learning at Oracle in Bozeman, Montana.
  p
    | My personal interests include machine learning/search, database systems,
    | web development, functional languages, video games, MTG, and the great
    | Montanan outdoors.

block sidebar
  h2 Notes
  blockquote
     | Build tools for others that you want to be built for you.
     br
     small - Kenneth Reitz