extend layout
block content
   h2 Projects
   h4.subheader
      | Projects will go here. This will most
      | likely be a list of links to Github repos,
      | with descriptions, as well as anything
      | I get published, or do professionally.

block sidebar
    h2 Notes
    p
       | Also pretty cool!