extend layout
block content
   h2 Résumé
      p
         | Chronological, I really like
         a(href="http://ilovett.com/resume")  this one
         | .
block sidebar
   h2 Contact Info
     p
       | Email address and phone number should go here.
       | Maybe just email address, I'm not really sure.