extend layout
block content
   h2 Résumé
      p
         | Chronological, I really like
         a(href="http://ilovett.com/resume")  this one
         | .
block sidebar
   h2 Contact Info
   address
      | Murph Murphy
      br
      a(href="tel:4065995147") 406.599.5147
      br
      a(href="mailto:murph@clurictec.com") murph@clurictec.com
