extend layout
block content
  h2 Résumé

  h3 Experience
  h4.subheader
    a(href="https://www.productfunder.com") Product Funder
  h5 2012 - present
  p
    | This is my current position. I've had the opportunity to be involved in
    | the complete process for developing this application, a crowdfunding
    | platform for consumer products. I've learned about Python, Django,
    | JavaScript/jQuery, software/web development, databases,
    | cloud services, dev ops, teamwork, version control, optimization, web
    | security, startups, marketing, and more than I could ever list. It's been
    | an amazing experience.
  h5 Keywords:
  p.keywords python, django, web development, startup

  h4.subheader
    a(href="http://maraxis.com/") Maraxis
  h5 summer 2011
  p
    | I worked as an intern at Maraxis for a summer during school.
    | I was developing the UI/UX for a mobile hands-free application called
    | <a href="http://ikspreek.nl">ikspreek</a>, using
    | <a href="http://www.appcelerator.com/">Titanium Appcelerator</a> and
    | voice processing libraries at the time.
  h5 Keywords:
  p.keywords javascript, appcelerator, mobile development, startup

  h3 Education
  h4.subheader
    a(href="http://cs.montana.edu") Montana State University
  h5 2009 - present
  p
    | I'm currently a computer science student at MSU, on track to graduate in
    | the fall of 2013. I've had a great experience at MSU, and have tried to
    | take classes that have challenged my abilities. I've also been involved
    | in <a href="https://www.facebook.com/groups/msuhivemind/">MSU Hivemind</a>,
    | as a member in 2009 and as President since 2011. In that time the tech
    | group has grown from around 30 active members to over 180.
  h5 Keywords:
  p.keywords computer science, hivemind

block sidebar
  h2 Contact Info
  address
    | Murph Murphy
    br
    | Bozeman, MT
    br
    a(href="tel:4065995147") 406.599.5147
    br
    a(href="mailto:murph@clurictec.com") murph@clurictec.com
    br
    a(href="http://www.linkedin.com/in/skeet70") LinkedIn
    br
    a(href="http://github.com/skeet70") Github